In [1]:
import numpy as np
import matplotlib.pyplot as plt
import  pandas as pd

In [2]:
data=pd.read_csv('Fakenews.csv')

In [3]:
data.shape

(4009, 4)

In [4]:
data.columns

Index(['URLs', 'Headline', 'Body', 'Label'], dtype='object')

In [5]:
data.head(5)

,URLs,Headline,Body,Label
0,http://www.bbc.com/news/world-us-canada-414191...,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,1
1,https://www.reuters.com/article/us-filmfestiva...,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",1
2,https://www.nytimes.com/2017/10/09/us/politics...,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,1
3,https://www.reuters.com/article/us-mexico-oil-...,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1
4,http://www.cnn.com/videos/cnnmoney/2017/10/08/...,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",1

In [6]:
data.iloc[0]

URLs        http://www.bbc.com/news/world-us-canada-414191...
Headline           Four ways Bob Corker skewered Donald Trump
Body        Image copyright Getty Images\nOn Sunday mornin...
Label                                                       1
Name: 0, dtype: object

In [7]:
data.iloc[3]

URLs        https://www.reuters.com/article/us-mexico-oil-...
Headline    Egypt's Cheiron wins tie-up with Pemex for Mex...
Body        MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...
Label                                                       1
Name: 3, dtype: object

In [8]:
data.isnull().sum()

URLs         0
Headline     0
Body        21
Label        0
dtype: int64

In [9]:
data=data.dropna()

In [10]:
data.shape

(3988, 4)

In [11]:
data['News']=data['Headline']+" "+data["Body"]

In [12]:
data

,URLs,Headline,Body,Label,News
0,http://www.bbc.com/news/world-us-canada-414191...,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,1,Four ways Bob Corker skewered Donald Trump Ima...
1,https://www.reuters.com/article/us-filmfestiva...,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",1,Linklater's war veteran comedy speaks to moder...
2,https://www.nytimes.com/2017/10/09/us/politics...,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,1,Trump’s Fight With Corker Jeopardizes His Legi...
3,https://www.reuters.com/article/us-mexico-oil-...,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1,Egypt's Cheiron wins tie-up with Pemex for Mex...
4,http://www.cnn.com/videos/cnnmoney/2017/10/08/...,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",1,Jason Aldean opens 'SNL' with Vegas tribute Co...
...,...,...,...,...,...
4003,http://beforeitsnews.com/u-s-politics/2017/10/...,CNN and Globalist Exposed - Steve Quayle and A...,"Vietnam Is in Great Danger, You Must Publish a...",0,CNN and Globalist Exposed - Steve Quayle and A...
4004,http://beforeitsnews.com/sports/2017/09/trends...,Trends to Watch,Trends to Watch\n% of readers think this story...,0,Trends to Watch Trends to Watch\n% of readers ...
4005,http://beforeitsnews.com/u-s-politics/2017/10/...,Trump Jr. Is Soon To Give A 30-Minute Speech F...,Trump Jr. Is Soon To Give A 30-Minute Speech F...,0,Trump Jr. Is Soon To Give A 30-Minute Speech F...
4007,https://www.reuters.com/article/us-china-pharm...,China to accept overseas trial data in bid to ...,SHANGHAI (Reuters) - China said it plans to ac...,1,China to accept overseas trial data in bid to ...
4008,http://beforeitsnews.com/u-s-politics/2017/10/...,Vice President Mike Pence Leaves NFL Game Beca...,Vice President Mike Pence Leaves NFL Game Beca...,0,Vice President Mike Pence Leaves NFL Game Beca...

In [13]:
data=data.drop(columns=['URLs','Headline','Body'])

In [14]:
data

      Label                                               News
0         1  Four ways Bob Corker skewered Donald Trump Ima...
1         1  Linklater's war veteran comedy speaks to moder...
2         1  Trump’s Fight With Corker Jeopardizes His Legi...
3         1  Egypt's Cheiron wins tie-up with Pemex for Mex...
4         1  Jason Aldean opens 'SNL' with Vegas tribute Co...
...     ...                                                ...
4003      0  CNN and Globalist Exposed - Steve Quayle and A...
4004      0  Trends to Watch Trends to Watch\n% of readers ...
4005      0  Trump Jr. Is Soon To Give A 30-Minute Speech F...
4007      1  China to accept overseas trial data in bid to ...
4008      0  Vice President Mike Pence Leaves NFL Game Beca...

[3988 rows x 2 columns]

# Data preprocessing

In [15]:
from nltk.tokenize import word_tokenize
from nltk.stem import SnowballStemmer
from nltk.corpus import stopwords

In [16]:
sw=stopwords.words('english')
ss=SnowballStemmer('english')

In [17]:
def data_cleaning(document):
    document=document.lower()
    words=word_tokenize(document)
    words=[ss.stem(w) for w in words if w not in sw and len(w)>1]
    cleaned=" ".join(words)
    
    return cleaned

In [18]:
first_clean=data_cleaning(data['News'][0])

In [19]:
data['cleaned_News']=data['News'].apply(data_cleaning)

In [20]:
data.head()

,Label,News,cleaned_News
0,1,Four ways Bob Corker skewered Donald Trump Ima...,four way bob corker skewer donald trump imag c...
1,1,Linklater's war veteran comedy speaks to moder...,linklat 's war veteran comedi speak modern ame...
2,1,Trump’s Fight With Corker Jeopardizes His Legi...,trump fight corker jeopard legisl agenda feud ...
3,1,Egypt's Cheiron wins tie-up with Pemex for Mex...,egypt 's cheiron win tie-up pemex mexican onsh...
4,1,Jason Aldean opens 'SNL' with Vegas tribute Co...,jason aldean open snl vega tribut countri sing...

In [21]:
x=data['cleaned_News'].values
y=data['Label'].values

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [23]:
X_train.shape

(2991,)

In [24]:
X_test.shape

(997,)

# Vectorization

In [27]:
#bag of word
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=10000)

In [28]:
X_train=cv.fit_transform(X_train).toarray()

In [29]:
type(X_train)

numpy.ndarray

In [30]:
print(X_train.shape)
print(X_test.shape)

(2991, 10000)
(997,)

In [31]:
X_test=cv.transform(X_test).toarray()

# Model Training

In [32]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression

In [33]:
model=MultinomialNB()
model.fit(X_train,y_train)

MultinomialNB()

# prediction

In [34]:
X_test.shape

(997, 10000)

In [35]:
y_pred=model.predict(X_test)

In [36]:
y_pred[:5]

array([1, 1, 1, 0, 1], dtype=int64)

In [109]:
y_test[:5]

array([1, 1, 1, 0, 0], dtype=int64)

# Evaluation

In [110]:
model.score(X_test,y_test)

0.9478435305917753